/* Estilos específicos para el fondo de Home */
.home-background {
  background-image: linear-gradient(rgba(17, 18, 20, 0.4), rgba(17, 18, 20, 0.7));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/src/assets/fondocpa.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}